.footer-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ff8343;
    color: #ffefd5;
}

.footer-container p{
    margin: 8px 0;
    
}
